node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

coverage/

# Don't store snapshots it github, since they clutter up the repo
# Devs should make sure they run unit tests before making any changes 
__snapshots__/
